<div class="login-container">
  <div class="stars"></div>
  <div class="stars2"></div>
  <div class="stars3"></div>
  <div class="login-content">
    <h2 class="login-title">Login</h2>
    <form class="login-form">
      <label for="email">Email</label>
      <input
        class="login-input"
        type="email"
        id="email"
        name="email"
        placeholder="Digite seu email"
        required
      />
      <br />
      <label for="password">Senha</label>
      <input
        class="login-input"
        type="password"
        id="password"
        name="password"
        placeholder="Digite sua senha"
        required
      />
      <br />
      <button class="login-button" type="submit">Entrar</button>
    </form>
  </div>
</div>
